.input-section {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 0.1rem;
}

.submit-button {
  margin-top: 1rem;
  width: calc(100% - 300px);
  background-color: rgb(238, 177, 177);
  border-radius: 10%;
  align-content: right;
  color: #15111f;
}

.submit-button:hover {
  background-color: rgb(97, 157, 172);
  color: rgb(255, 255, 255);
}

.human-label {
  align-content: flex-start;
}

.form-wrapper {
  background-color: #333538;
  color: #fff1d4;
  display: block;
  margin: 0 auto;
  align-content: center;
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
}
